.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #d8d8d8;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}

.footer > a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 4rem;
  line-height: 1.15;
  text-align: center;
}

.title > a {
  color: #0070f3;
  text-decoration: none;
}

.title > a:hover,
.title > a:focus,
.title > a:active {
  text-decoration: underline;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.code {
  padding: 0.75rem;
  font-family: Menlo, 'Monaco, Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 1.1rem;
  border-radius: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 3rem;
}

@media (width <= 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}

.card {
  width: 45%;
  padding: 1.5rem;
  margin: 1rem;
  color: inherit;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card > h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.card > p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.board {
  height: 640px;
  width: 640px;
  background: rgb(1 124 1);
  display: flex;
  flex-flow: wrap row;
  z-index: 0;
  position: absolute;
}

.cell {
  height: 80px;
  width: 80px;
  background: rgb(1 124 1);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stone {
  height: 60px;
  width: 60px;
  background: rgb(255 255 255);
  border-radius: 90%;
}

.black {
  height: 120px;
  width: 120px;
  background: rgb(1 1 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 16%;
  left: 400px;
}

.blackname {
  color: rgb(255 255 255);
  z-index: 1;
  font-size: 300%;
  font-weight: bold;
  display: flex;
  margin-top: 11px;
  margin-left: 40%;
  font-family: cursive;
}

.white {
  height: 120px;
  width: 120px;
  background: rgb(255 255 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  z-index: 1;
  top: 16%;
  left: 1400px;
  position: absolute;
}

.whitename {
  color: rgb(0 0 0);
  z-index: 2;
  font-size: 300%;
  font-weight: bold;
  display: flex;
  margin-top: 11px;
  margin-right: 48%;
  font-family: cursive;
}

.pass {
  position: absolute;
  color: rgb(255 0 0);
  z-index: 1;
}

.turn {
  font-size: 300%;
  display: flex;
  justify-content: center;
  margin-top: 13px;
  font-weight: bold;
}

.newgame {
  font-size: 150%;
  position: absolute;
  padding: 5px;
  z-index: 1;
  top: 750px;
  left: 410px;
  font-weight: bold;
  border: 2px solid black;
}

.youColor {
  background-color: #ffffff;
  z-index: 3;
  margin-top: 720px;
  font-size: 170%;
}

.customblack {
  width: 130px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background: black;
  cursor: pointer;
  display: flex;
  top: 40%;
  left: 394px;
  position: absolute;
}
.customwhite {
  width: 130px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 14px;
  background: white;
  cursor: pointer;
  display: flex;
  top: 40%;
  left: 1400px;
  position: absolute;
}

.playerTag {
  display: flex;
  position: absolute;
  z-index: 1000;
  height: 90px;
  width: 100%;
  top: 60px;
}

.blackTag {
  background-color: #000;
  height: 100%;
  width: 37.5%;
  display: flex;
}
.midTag {
  background-color: green;
  height: 100%;
  width: 25%;
}

.whiteTag {
  background-color: #ffffff;
  height: 100%;
  width: 37.5%;
  display: flex;
  justify-content: flex-end;
}

.blackplayer {
  font-size: 300%;
  color: #ffffff;
  font-family: cursive;
  display: flex;
  margin-top: 11px;
  margin-left: 5%;
}

.whiteplayer {
  font-size: 300%;
  color: #000000;
  font-family: cursive;
  text-align: center;
  justify-content: flex-start;
  display: flex;
  margin-top: 11px;
  margin-right: 5%;
}
